{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Events - Eventos</title>
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}" />
</head>

<body>
    <header>
        <div class="header-branding">
            <img src="{% static 'core/img/logosmartevent.png' %}" alt="Logo" class="logo" id="titulo" />
            <div class="brand-text">
                <h1 id="titulo">Smart Events</h1>
                <p id="subt">Todos tus eventos en un mismo lugar!</p>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="principal.html" id="item">
                    Smart Events
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}" id="item">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'eventos' %}" id="item">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'comunidad' %}" id="item">Comunidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}" target="_blank" id="item">Admin</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container my-5">
        <div class="container my-5" id="div-id">
            <h1 class="mb-4">Próximos Eventos:</h1>
            <div class="row">
                {% for evento in eventos %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        {% if evento.imagen %}
                            <img src="{{ evento.imagen.url }}" class="card-img-top" alt="{{ evento.titulo }}" />
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">{{ evento.titulo }}</h4>
                            <p class="card-text">
                                <ul>
                                    <li><strong>Lugar:</strong> {{ evento.lugar }}</li>
                                    <li><strong>Fecha:</strong> {{ evento.fecha_hora|date:"d/m/Y" }}</li>
                                    <li><strong>Hora:</strong> {{ evento.fecha_hora|time:"H:i" }}</li>
                                    <li><strong>Valor:</strong> ${{ evento.valor|floatformat:0 }}</li>
                                    <li><strong>Plazas Disponibles:</strong> {{ evento.plazas_disponibles }}</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>  
                {% endfor %}
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Smart Events. Todos los derechos reservados.</p>
    </footer>

    <script src="{% static 'core/js/script.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
</body>

</html>