{% extends 'core/base.html' %}

{% block title %}SmartEvents - Página Principal{% endblock %}

{% block content %}
<main class="container rounded my-5">
    {% for evento in eventos %}
    <section class="hero my-5">
        <h2>{{ evento.titulo }}</h2>

        {% if evento.imagen %}
        <img src="{{ evento.imagen.url }}" class="hero-image my-3" alt="Imagen de {{ evento.titulo }}" />
        {% endif %}

        <h4>Tiempo restante:</h4>
        <div class="event-countdown h2" data-event-date="{{ evento.fecha_hora|date:'Y-m-d' }}T{{ evento.fecha_hora|time:'H:i:s' }}"></div>

        <a href="{% url 'eventos' %}" class="btn btn-primary">Ver más información</a>
    </section>
    {% empty %}
    <div class="hero my-5">
        <h2>No hay eventos próximos</h2>
        <p>¡Vuelve pronto para ver las novedades!</p>
    </div>
    {% endfor %}
</main>
{% endblock %}